.selectedPage{
    font-weight: bold;
    color:#8e3f3f;
    background-color: gray;
    margin:0px 3px;
}
.paginatorContainer{
    text-align: center;
    margin: 20px;
}
.paginatorContainer span{
    padding: 3px 5px;
    cursor: pointer;
}
.paginatorContainer button{
    background-color: lightgray;
    border:1px solid grey;
    border-radius: 10px;

}