.nav{
    grid-area: nav;
    background-color: burlywood;
    padding: 10px;
}

.nav__item a{
    color:white;
    text-decoration: none;
    padding-left:10px;
}

.nav__item a.activeLink{
    color:gold;
}